@import '../styles/base/base.scss';

.page {
  height: 100%;
  padding: 20px 24px 0 24px;
  display: flex;
  flex-direction: column;

  &__title {
    @include headline-white;
    margin-bottom: 8px;
  }

  &__subtitle {
    @include body-grey;
    margin-bottom: 20px;
  }

  &__bottom-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__place-on-podium {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &_place {
      &_first {
        width: 36.6%;
        text-align: center;
      }

      &_second, &_third {
        width: 31.7%;
        text-align: center;
      }
    }
  }

  &__person-block {
    margin-bottom: 6px;

    &_first {
      position: relative;

      &::before {
        content: '👑';
        position: absolute;
        top: -28px;
        font-size: 32px;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  &__leaders-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin-bottom: 16px;
  }

  &__persons-name {
    @include body-white;
    margin-bottom: 4px;
  }

  &__persons-commits {
    @include caption-grey;
  }

  &__pedestal {
    width: 100%;
    padding-top: 18px;
    @include headline-white;

    &_place {
      &_first {
        background: radial-gradient(91.67% 122.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%);
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.4);
        border-radius: 6px;
        height: 60%;
      }

      &_second, &_third {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 95.38% at 38.75% 71.48%, #000000 0%, #231900 0.01%, #4D4D4D 100%);
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6);
        border-radius: 6px;
      }

      &_second {
        height: 51%;
        border-top-left-radius: 0;
      }

      &_third {
        height: 42%;
        border-top-right-radius: 0;
      }
    }
  }
}
