@import '../styles/base/base.scss';

.page {
  height: 100%;
  padding: 20px 24px 0 24px;
  display: flex;
  flex-direction: column;

  &__title {
    @include headline-white;
    margin-bottom: 8px;
  }

  &__subtitle {
    @include body-grey;
    margin-bottom: 20px;
  }

  &__bottom-container {
    flex-grow: 1;
    display: flex;
  }
}
