@import './colors.scss';

@mixin common-fonts {
  font-family: Roboto;
  font-style: normal;
  color: $white;
}

@mixin headline-white {
  @include common-fonts;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
}

@mixin headline-black {
  @include headline-white;
  color: $black;
}

@mixin subhead-white {
  @include common-fonts;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

@mixin subhead-grey {
  @include subhead-white;
  color: $grey;
}

@mixin subhead-black {
  @include subhead-white;
  color: $black;
}

@mixin subhead-light-grey {
  @include subhead-white;
  color: $light-grey;
}

@mixin body-white {
  @include common-fonts;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

@mixin body-grey {
  @include body-white;
  color: $grey;
}

@mixin body-black {
  @include body-white;
  color: $black;
}

@mixin body-light-grey {
  @include body-white;
  color: $light-grey;
}

@mixin caption-white {
  @include common-fonts;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@mixin caption-grey {
  @include caption-white;
  color: $grey;
}

@mixin caption-black {
  @include caption-white;
  color: $blcik;
}

@mixin caption-light-grey {
  @include caption-white;
  color: $light-grey;
}
